<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 mb-5 pl-md-5">
        <h3>Contact Info</h3>
        <ul class="list-unstyled footer-link">
          <li class="d-block">
            <span class="d-block">Address:</span>
            <span
              >14, Jogeshwari Estate, Nr. Revabhai Estate, C.T.M., Amraiwadi,
              Ahmedabad-380026</span
            >
          </li>
          <li class="d-block">
            <span class="d-block">Telephone:</span
            ><span class="d-block">+91 9979738208 (Pravinbhai Patel)</span
            ><span class="d-block">+91 7016420757 (Mihir Patel)</span>
          </li>
          <li class="d-block">
            <span class="d-block">Email:</span
            ><span
              ><a href="mailto:varahimetal@yahoo.co.in"
                >varahimetal@yahoo.co.in</a
              ></span
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-5 mb-0">
        <h3>Quick Links</h3>
        <ul class="list-unstyled footer-link">
          <li><a href="./about">About</a></li>
          <li><a href="./products">Products</a></li>
          <li><a href="./contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-md-center text-left">
        <p class="copyright">
          Copyright &copy;
          <span id="footerDateYear"></span>
          All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
